.main-header {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
    height: 5rem;
    top: 0;
    left: 0;
    background-color: #527e92;
    width: 100%;
    & nav {
        margin-top: 2%;
    }
    & ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }
    & .btn {
        font-size: 1rem;
        color: #fff;
        border: #fff solid 0.5px;
        border-radius: 1.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}
