.bookables {
    display: grid;
    align-items: center;
}
.bookables-box {
    display: grid;
    max-width: fit-content;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin: 2% 5%;
}
.btn {
    width: 15rem;
    background-color: #888888;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin: 0.7rem;
    cursor: pointer;
    &.next-btn {
        width: 8rem;
        background-color: #0c2044;
        display: flex;
        align-items: center;
    }
}
.selected {
    & .btn {
        background-color: #3ca8da;
    }
}
.item-box {
    display: flex;
    flex-wrap: wrap;
}
.item-header {
    background-color: #0c2044;
    color: #ffffff;
}
